.shared-button-style {
    margin-inline: 20px !important;
    border: #5e0101 !important;
    margin-bottom: -50px !important;
    font-size: 25px !important;
    background-color: #ffffff !important;
    color: #5e0101 !important;
    
    /* Adicione outros estilos com !important conforme necessário */
}
.shared-button-style:hover {
    /* Adicione estilos de hover para ambos os botões */
    background-color: rgb(15, 128, 0) !important;
    /* Outros estilos de hover que desejar */
}                                             

.form {
    background-color: #5e0101 !important;
    border-radius: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.form .form-control:hover {
    border-color: #008C45;
    
    }

@media (max-width:700px) {
    .shared-button-style {
        margin-top: 50px !important; /* Adicionando margem entre os botões */
        padding: 0px 30px !important;
        border: #5e0101 !important;
        margin-bottom: -50px !important;
        font-size: 15px !important;
        background-color: #ffffff !important;
        color: #5e0101 !important;
        
        /* Adicione outros estilos com !important conforme necessário */
    }
    .shared-button-style:hover {
        /* Adicione estilos de hover para ambos os botões */
        background-color: red !important;
        /* Outros estilos de hover que desejar */
    }                                             
    
    .form {
        background-color: #5e0101 !important;
        border-radius: 20px;
        padding-top: 80px;
        padding-bottom: 100px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .form .form-control {
    width: 200px;
    margin-left: 16px;
    font-size: 20px;
    
    }

    .form .img {
        width: 200px;
    }
}

